/* Clinicient */

/* Fonts */
@import url('http://fonts.googleapis.com/css?family=Open+Sans:400,600');
@font-face {
    font-family: 'Vera';
    src: url('vera.ttf') format('truetype');
}

/* Sorry, RocketTheme... */
#rocket { display: none; }

/* Style Resets */
.component-content .rt-article-bg { border: none; }

/* Body */
body.col12 { background: #90D8F1 url('../images/body/background.jpg') repeat-x top left; font-family: Helvetica, Arial, sans-serif; }
h1, h2 { color: #78a539; font-size: 17px; line-height: 0.9em; }
.module-title h2 { color: #666666; font-size: 20px; line-height: 0.9em; }
.module-title h3, h4, h5 { color: #78a539; font-size: 12px; line-height: 14px; }
.contentheading { font-size: 100%; }

/* Logo */
body a#rt-logo { background: url('../images/logo/clinicient.png') top left no-repeat transparent; height: 75px; width: 325px; }

/* Menu */
div#rt-menu div.rt-container { border-bottom: 1px solid #bfbfbf; border-top: 1px solid #bfbfbf; }
div#rt-menu div.rt-container,
div.menutop ul li > .item,
div.menutop ul li > .item:hover,
div.menutop ul li.f-menuparent-itemfocus > .item { background: transparent url('../images/menus/bg-grad-ltblue.png') repeat-x top left; color: black; }
div.menutop div.fusion-submenu-wrapper.level2,
div.menutop div.fusion-submenu-wrapper.level3,
div.menutop div.fusion-submenu-wrapper.level4,
div.menutop div.fusion-submenu-wrapper.level5,
div.menutop div.fusion-submenu-wrapper.level6 { background: transparent; }
div#rt-menu div.rt-container div.rt-menubar { text-align: left; }
div#rt-menu div.rt-menubar ul.menutop li.root { background: transparent url('../images/menus/bg-dot-black.png') no-repeat right center; }
div.menutop ul li > .item,
div#rt-menu div.rt-menubar ul.menutop li.root { font-family: 'Open Sans', Arial, sans-serif; font-size: 14px; font-weight: 400; }
div#rt-menu div.rt-menubar ul.menutop li.root:last-of-type { background: none; }
div#rt-menu div.rt-menubar ul.menutop li.root > .item { background: transparent; color: black; height: 36px; }
div.menutop ul li > .item:hover,
div.menutop ul li.f-menuparent-itemfocus > .item,
div#rt-menu div.rt-menubar ul.menutop li.root > .item:hover,
div#rt-menu div.rt-menubar ul.menutop li.f-mainparent-itemfocus > .item { color: #95C545; }
/*div#rt-menu div.rt-menubar ul.menutop li.parent.root > .item span { padding-right: 15px; }*/
div#rt-menu div.rt-menubar ul.menutop li.root > .item span { background: none; line-height: 36px; }
div.menutop ul li { border-left: 1px solid #bfbfbf; border-right: 1px solid #bfbfbf; border-top: 1px solid #bfbfbf; text-align: left; }
div.menutop ul li:last-of-type { border-bottom: 1px solid #bfbfbf; }
div.menutop ul li > .daddy span { background: none; }
div.menutop ul li > .item { color: black; }
div.menutop ul li > .item span { line-height: 1em; padding: 10px 0; }
