/* Clinicient */

/* Fonts */
@font-face {
    font-family: 'Vera';
    src: url('vera.ttf') format('truetype');
}

/* Sorry, RocketTheme... */
#rocket { display: none; }

/* Style Resets */
.component-content .rt-article-bg { border: none; }

/* Body */
body.col12 { background: url('../images/body/background.jpg') top left repeat-x #90D8F1; font-family: Vera, Helvetica, Arial, sans-serif; }
/*
div.rt-container {
    -webkit-box-shadow: 8px 0px 5px -5px rgba(50, 50, 50, 0.75), -8px 0px 5px -5px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    8px 0px 5px -5px rgba(50, 50, 50, 0.75), -8px 0px 5px -5px rgba(50, 50, 50, 0.75);
    box-shadow:         8px 0px 5px -5px rgba(50, 50, 50, 0.75), -8px 0px 5px -5px rgba(50, 50, 50, 0.75);
}
*/

/* Logo */
a#rt-logo { background: url('../images/logo/clinicient.png') top left no-repeat transparent; height: 75px; width: 325px; }

/* Menu */
div#rt-menu div.rt-container {
    background: #90d8f1; /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #90d8f1 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#90d8f1)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffffff 0%,#90d8f1 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffffff 0%,#90d8f1 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffffff 0%,#90d8f1 100%); /* IE10+ */
    background: linear-gradient(top, #ffffff 0%,#90d8f1 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#90d8f1',GradientType=0 ); /* IE6-9 */
    border-top: 2px solid #e2e2e2;
}
#rt-menu ul.menu li.active a, .menutop li.root.active > .item, .menu-type-splitmenu .menutop li.active .item { background-color: transparent; }
#rt-menu ul.menu li a, .menutop li.root > .item, .menu-type-splitmenu .menutop li .item { color: black; }
#rt-menu ul.menu li a:hover, #rt-menu ul.menu li.active a:hover, .menutop li.root > .item:hover, .menutop li.root.active > .item:hover, .menutop li.active.root.f-mainparent-itemfocus > .item, .menutop li.root.f-mainparent-itemfocus > .item, .menu-type-splitmenu .menutop li:hover > .item { background-color: #a5ddf0; color: black; }
